
<footer class="footer has-background-grey-darker topmargin">
  <div class="content has-text-centered has-text-white-ter">
    <p>
      <a href="/impressum">Impressum</a> - 
      <a href="/datenschutz">Datenschutz</a> - 
      <a href="https://github.com/tomsrocket/spass-mit-daten">Quelltext</a>
    </p>
  </div>
</footer>
