mark {
    padding: 0;
    background-color: #d9edf7;
    color: #030;
    padding: 2px;
    margin: -2px;
}
.margr {
    margin-left:20px;
    margin-bottom:20px;
}
.margl {
    margin-bottom:20px;
    margin-right:20px;
}
body {
    background-color:#eee;
/*    background-image: url(img/top-bg5.jpg);
    background-attachment: fixed;
*/
}
nav {z-index:1;}
.topmargin {
    margin-top:20px
}
nav, .bodymargin {
    background-color:#770044;
/*    background-attachment: fixed;
    background-image: url(img/marvin-meyer-571072-unsplash.jpg);
    background-size: 100%;
*/
}
.navbar .navbar-link {color:black}
.navbar .navbar-link:hover {color:white;}
.toplogo .logoimg {float:left}
.toplogo .logotxt {padding-top:20px}
.logo.toplogo {width:400px;height:95px}
.bodymargin {
    padding-top:0px;
    z-index: 100;
    position: relative;
}
#bookCountBadge {
    margin-top: 5px;
    display: block;
    margin-bottom: -10px;
}
#tagSection {
    margin-top: auto;
}
.logo, .logo:hover {
    background: none !important;
}
.fonts {
    font-family: 'Ultra', serif;
    font-family: 'Russo One', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
.bottommargin-off {
    margin-bottom:20px;
}
.logo-outer {
    margin-top:10px
}
.logoimg {
    width: 50px;
    padding-top: 33px
}
.navbar-item .logoimg img {
    max-height: 100%;
}
.toplogo,
a.navbar-item.is-active.logo, 
.navbar .navbar-item.logo {
    font-family: 'Jomhuria', cursive;
    font-size: 60px;
    overflow: hidden;
    height: 55px;
    width: 100%;
    font-weight:normal;
    text-transform:none;
    color:black;
}
.tagSection {
    padding-top:20px;
    padding-bottom:20px;
    font-weight:bold;
}
.bodymargin  a.navbar-item.is-active.logo {
    font-size:80px;
    height:65px;
}
.bodymargin .logoimg {
    width:60px;
}
.logo span {
    color:#933;
}
.hidden {
    display:none!important
}

.footer .content a:hover {color:white!important}

footer a, footer p {
    font-family: 'Kanit', cursive;
    font-size: 30px;
    text-transform:lowercase;
    color:#ddd;
}

.readability {
    background: rgba(255, 255, 255, 0.8);
    border-radius:10px;
}
/* shadow hover on boxes */
  .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);

  }
  .is-shady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);

    height: 100%;
    display: flex;
    flex-direction: column;

    border-radius:10px;
  }
  .is-shady img {
    opacity:0.2;
    transition: all .1s ease-in-out;
  } 
  .is-shady img:hover {
    opacity:0;
  }